<html>

    <head>
        <link rel="stylesheet" href="styles.css">
    </head>

    <style>
        body {
          background-image: url('https://image.winudf.com/v2/image1/Y29tLnFhbmplcnVtYmkud2hpdGUud2hpdGViYWNrZ3JvdW5kX3NjcmVlbl8wXzE1NDE5NzAyMDlfMDQ0/screen-0.jpg?fakeurl=1&type=.jpg');
        }
    </style>

    <body>
        <a href="http://localhost:8080/addnewauthor">Add Author</a>
        <a href="http://localhost:8080/listauthors">List Authors</a>
        <a href="http://localhost:8080/addnewbook">Add Book</a>
        <a href="http://localhost:8080/listbooks">List Books</a>
        <a href="http://localhost:8080/deletebook">Delete Book</a>
        <a href="http://localhost:8080/updateauthor">Update Author</a>

        <h1>Add a New Book</h1>

        <form method = "post" action = "/addnewbook">
            <br>Title <input type="text" name="title" required/></br>
            <br>Author ID<input type="text" name="author" required/></br>
            <br>ISBN <input type="text" name="isbn" value="<%=newISBN %>" required/></br>
            <br>Date of Publication <input type="date" name="dop" required/></br>
            <br>Summary <input type="text" name="summary" required/></br>
            <button type="submit">Add Book</button>

        </form>
    </body>
</html>